@font-face {
  font-family: JetBrainsMono, monospace;
  src: url(fonts/JetBrainsMono-Regular.woff2);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono, monospace;
  src: url(fonts/JetBrainsMono-Bold.woff2);
  font-weight: bold;
  font-display: swap;
}

:root {
  --color-bg: hsl(0, 0%, 95%);
  --color-front: hsl(0, 0%, 5%);
}

html {
  height: 100%;
  margin: 0;
  background-color: var(--color-bg);
  font-family: JetBrainsMono, monospace;
  overflow: hidden;
}

main {
  position: fixed;
  top: 2vmax;
  bottom: 4vmax;
  left: 2vmax;
  width: 50%;
  padding: 1em;
  border: 0.1em solid var(--color-front);
  box-shadow: 0.3em 0.3em
}

.artwork {
  flex: 50%;
}

body {
  height: 100%;
}

.cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
