@font-face {
  font-family: JetBrainsMono;
  src: url(fonts/JetBrainsMono-Regular.woff2);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  src: url(fonts/JetBrainsMono-Bold.woff2);
  font-weight: bold;
  font-display: swap;
}

html {
  height: 100%;
  margin: 0;
  background-color: rgb(32, 32, 32);
  font-family: JetBrainsMono;
  overflow: hidden;
}

main {
  flex: 50%;
  padding: 2%;
  background-color: rgb(253, 235, 214);
}

.artwork {
  flex: 50%;
}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
