:root {
  --color-bg: hsl(0, 0%, 95%);
  --color-front: hsl(0, 0%, 5%);
}

html {
  height: 100%;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-front);
  font-family: "JetBrainsMono", monospace;
  font-size: 0.90em;
  overflow: hidden;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: inherit;
  font-weight: normal;
  text-decoration: underline dotted;
}

h2 {
  font-size: inherit;
  font-weight: normal;
  text-decoration: underline dotted;
}

h3 {
  font-size: inherit;
  font-weight: normal;
  text-decoration: underline dotted;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  font-size: 0.8em;
}

.typed p {
  margin: 1em 0;
  line-height: 1.5;
  display: block;
  /* Ensure P behaves as block even inside span */
}

.typed ul {
  list-style: none;
  padding: 0;
  margin: 1em 0;
  display: block;
  /* Ensure UL behaves as block even inside span */
}

.typed li {
  margin: 0.2em 0;
}


@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsl(0, 0%, 5%);
    --color-front: hsl(0, 0%, 95%);
  }
}